<div class="modal-header">
  <h4 class="modal-title pull-left">Adauga anunt</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="announceForm" (ngSubmit)="createAnnounce()">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div>
            <h3 style="font-size: small;">Marca</h3>
            <ng-select
              [allowClear]="true"
              [items]="brandsName"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)"
              placeholder="Alege marca"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-sm">
          <div>
            <h3 style="font-size: small;">Model</h3>
            <ng-select
              [allowClear]="true"
              [items]="modelsName"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)"
              placeholder="Alege model"
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-sm">
          <div>
            <h3 style="font-size: small;">Anul fabricatiei</h3>
            <ng-select
              [allowClear]="true"
              [items]=""
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)"
              placeholder="Alege anul fabricatiei"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-sm">
          <div>
            <h3 style="font-size: small;">Caroserie</h3>
            <ng-select
              [allowClear]="true"
              [items]=""
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)"
              placeholder="Alege tipul caroseriei"
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <div>
              <h3 style="font-size: small;">Kilometrii</h3>
              <input
                [ngClass]="{
                  'is-invalid':
                    announceForm.get('kilometers').errors &&
                    announceForm.get('kilometers').touched
                }"
                class="form-control"
                placeholder="km"
                formControlName="kilometers"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  announceForm.get('kilometers').touched &&
                  announceForm.get('kilometers').hasError('required')
                "
              >
                Kilometrii sunt necesari
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <div>
              <h3 style="font-size: small;">Pret</h3>
              <input
                [ngClass]="{
                  'is-invalid':
                    announceForm.get('price').errors &&
                    announceForm.get('price').touched
                }"
                class="form-control"
                placeholder="Alege un pret"
                formControlName="price"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  announceForm.get('price').touched &&
                  announceForm.get('price').hasError('required')
                "
              >
                Pretul este necesar
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    Anuleaza
  </button>
  <button type="button" class="btn btn-success" form="announceForm">
    Trimite
  </button>
</div>
