.ui-select-choices.dropdown-menu {
  display: block;
}

.ui-select-choices-row > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 300;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}

.btn-secondary {
  color: #fff;
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:hover {
  background-color: gainsboro;
}

.ui-select-container {
  display: block;
}

.form-control {
  display: block;
  height: 30px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.ui-select-toggle {
  position: relative;
  color: black;
}

#search_bar_holder {
  width: 742px;
  height: 216px;
  background-color: rgba(0, 0, 0, 0.22);
  margin: 0 auto;
  padding: 10px;
  display: block;
  position: relative;
  z-index: 6;
  margin-top: 35px;
}

.rounded {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 0.25rem !important;
}

#hold_together {
  width: 723px;
  height: 198px;
  background-color: #fff;
  padding: 5px;
  float: left;
}

.submitButton {
  height: 35px;
  width: 89px;
  font-size: 16px;
  background: #c82814;
  box-shadow: 0 1px 2px #af4d41;
  bottom: -23px;
  right: 43px;
}

.submitButton:hover {
  background-color: #9c1907;
  color: #fff;
}

/* .my-carousel{
  top: 0;
} */

/* img {
  width: 100%;
  height: 600px;
} */

