.ui-select-choices.dropdown-menu {
  display: block;
}

.ui-select-choices-row > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 300;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}

.btn-secondary {
  color: #fff;
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:hover {
  background-color: gainsboro;
}

.ui-select-container {
  display: block;
}

.form-control {
  display: block;
  height: 30px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.ui-select-toggle {
  position: relative;
  color: black;
}

#filter_bar_holder {
  width: 742px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.22);
  margin: 0 auto;
  padding: 10px;
  display: block;
  position: relative;
  z-index: 6;
  margin-top: 35px;
}

.rounded {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 0.25rem !important;
}

#hold_together {
  width: 723px;
  height: 281px;
  background-color: #fff;
  padding: 5px;
  float: left;
  opacity: 0.9;
}

#add-announce-button {
  height: 35px;
  width: 195px;
  font-size: 16px;
  top: 10px;
}

#registerButton{
  height: 35px;
  width: 195px;
  top: 10px;
}

#registerButton > a {
  font-size: 10px;
}



.submitButton {
  height: 35px;
  width: 195px;
  font-size: 16px;
  background-color: #18bc9c;
  box-shadow: 0 1px 2px #267e6d;
  bottom: -38px;
  right: 38%;
}

.submitButton:hover {
  background-color: #267e6d;
  color: #fff;
}

#subheader-bar {
  width: 100%;
  height: 30px;
  background-color: #18bc9c;
}

#subheader-bar a.subheader-bar-container {
  margin: 0 auto;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding-top: 3px;
}

.announce-card {
  max-width: 323px;
}

.announce-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.announce-card-header-image {
  background-image: url("G:\LICENTA\AplicatieVanzariMasini\AplicatieVanzariMasini-Front\src\assets\audi.jpg");
  background-size: cover;
}

.announce-card:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: 390ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.announce-card img {
  transform: scale(1, 1);
  transition-duration: 390ms;
  transition-timing-function: ease-out;
}

.announce-card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.announce-card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.2s ease-in-out;
}

.mat-card {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: #ffff;
  color: #2c3e50;
}

.mat-card-content > :first-child,
.mat-card > :first-child {
  margin-top: -4px;
}
.mat-card-header {
  display: flex;
  flex-direction: row;
  margin-bottom: -12px;
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: -8px;
  color: #2c3e50;
}

.card-car-info {
  color: #b6b6b6;
  /* float: left; */
  font-size: 13px;
  line-height: 13px;
  margin: 10px 15px;
  /* height: 62px; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  /* width: 240px; */
}

.card-car-price {
  /* float: left;  */
  /* width: 240px; */
  margin: 0 15px;
  font-size: 20px;
  /* line-height: 25px; */
  color: #212121;
  text-transform: uppercase;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin-top: 15px;
  margin-bottom: 10px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -4px;
  text-transform: none;
  display: contents;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.jumbotron {
  margin-bottom: 0;
  position: relative;
}

.parallax {
  /* specific height */
  height: 630px;

  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-static {
  background-image: url("G:\LICENTA\AplicatieVanzariMasini\AplicatieVanzariMasini-Front\src\assets\miniature-car-cover.jpg");
}
