<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""
></script>

<div class="jumbotron parallax" id="parallax-static">
  <div class="container">
    <h2 style="margin-top:30px; text-align: center; color: white">
      Alege inteligent noua ta mașină!!
    </h2>
    <p class="lead" style="text-align: center; color: white">
      doarAutomobile.ro - Vânzări automobile noi si second hand
    </p>

    <div *ngIf="loggedIn()">
      <div class="text-center">
        <button
          style="text-align: center"
          mat-button
          id="add-announce-button"
          class="btn btn-success my-2 my-sm-0"
          type="submit"
          (click)="
            announceModal(
              brands,
              models,
              modelVersions,
              manufacturingDates,
              fuels,
              bodies,
              countries,
              transmissions,
              gearboxes,
              pollutionRules
            )
          "
        >
          Adaugă anunț
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div *ngIf="!loggedIn()">
      <div *ngIf="!registerMode" style="text-align: center">
        <div class="text-center">
          <button
            mat-button
            id="registerButton"
            class="btn btn-primary btn-lg mr-2"
            (click)="registerToggle()"
          >
            <a>Inregistrare</a>
            &nbsp;
            <i class="fa fa-align-left"></i>
          </button>
        </div>
      </div>
    </div>

    <div id="filter_bar_holder" class="rounded">
      <div id="hold_together">
        <div class="container">
          <div
            class="row text-center text-xs-center text-sm-center text-md-center"
          >
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div style="width: 175px; margin-bottom: 20px">
                <h3 style="font-size: small">Marca</h3>
                <ng-select
                  [allowClear]="true"
                  [items]="brandsName"
                  (data)="refreshValue($event)"
                  (selected)="selectedBrand($event)"
                  (removed)="removed($event)"
                  (typed)="typed($event)"
                  placeholder="Alege marca"
                  [formControl]="brandControl"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div style="width: 175px; margin-bottom: 20px">
                <h3 style="font-size: small">Model</h3>
                <ng-select
                  [allowClear]="true"
                  [items]="modelsName"
                  (data)="refreshValue($event)"
                  (selected)="selectedModel($event)"
                  (removed)="removed($event)"
                  (typed)="typed($event)"
                  [disabled]="!brandSelected"
                  [formControl]="modelControl"
                  placeholder="Alege model"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div style="width: 175px; margin-bottom: 20px">
                <h3 style="font-size: small">Versiune model</h3>
                <ng-select
                  [allowClear]="true"
                  [items]="modelVersionsName"
                  (data)="refreshValue($event)"
                  (selected)="selectedVersion($event)"
                  (removed)="removed($event)"
                  (typed)="typed($event)"
                  [disabled]="!modelSelected"
                  [formControl]="versionControl"
                  placeholder="Alege versiune model"
                >
                </ng-select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
              <div style="width: 175px; margin-bottom: 20px">
                <h3 style="font-size: small">Combustibil</h3>
                <ng-select
                  [allowClear]="true"
                  [items]="fuelsName"
                  (data)="refreshValue($event)"
                  (selected)="selectedFuel($event)"
                  (removed)="removed($event)"
                  (typed)="typed($event)"
                  placeholder="Alege combustibil"
                  [formControl]="fuelControl"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="d-flex flex-sm-wrap">
                <div style="width: 90px">
                  <h3 style="font-size: small">Kilometraj</h3>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="De la"
                    (input)="selectedMinKm($event.target.value)"
                    [formControl]="kmControl"
                  />
                </div>
                <div style="width: 90px">
                  <h3 style="font-size: small">.</h3>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Pana la"
                    [formControl]="kmControl"
                    (input)="selectedMaxKm($event.target.value)"
                  />
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="d-flex flex-sm-wrap">
                <div style="width: 90px">
                  <h3 style="font-size: small">Anul fabricației</h3>
                  <ng-select
                    [allowClear]="true"
                    [items]="minManufacturingDate"
                    (data)="refreshValue($event)"
                    (selected)="selectedMinManufacturingDate($event)"
                    (removed)="removed($event)"
                    (typed)="typed($event)"
                    [formControl]="manufacturingDateControl"
                    placeholder="De la"
                  >
                  </ng-select>
                </div>
                <div style="width: 90px">
                  <h3 style="font-size: small">.</h3>
                  <ng-select
                    [allowClear]="true"
                    [items]="maxManufacturingDate"
                    (data)="refreshValue($event)"
                    (selected)="selectedMaxManufacturingDate($event)"
                    (removed)="removed($event)"
                    (typed)="typed($event)"
                    [formControl]="manufacturingDateControl"
                    placeholder="Pana la"
                  >
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="d-flex flex-sm-wrap">
                <div style="width: 90px">
                  <h3 style="font-size: small">Preț</h3>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="De la"
                    [formControl]="priceControl"
                    (input)="selectedMinPrice($event.target.value)"
                  />
                </div>
                <div style="width: 90px">
                  <h3 style="font-size: small">.</h3>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Pana la"
                    [formControl]="priceControl"
                    (input)="selectedMaxPrice($event.target.value)"
                  />
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
              <button
                mat-raised-button
                class="submitButton"
                (click)="resetFilters()"
              >
                Reseteaza filtre
                <i class="fa fa-refresh"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="subheader-bar">
  <a class="subheader-bar-container" title="">
    <i class="fa fa-bullhorn fa-1x"></i>
    Anunțurile afișate in rubrica de mai jos sunt preluate in ordinea adaugării
    lor pe site!
  </a>
</div>

<!-- <div style="margin-top: 40px; background-color: #f3f3f3;"></div> -->
<div class="carousel-spacer">
  <carousel>
    <slide>
      <img
        class="d-block w-100"
        weight="1080px"
        height="240px"
        src="../../../assets/banner1.jpg"
        alt="First slide"
      />
    </slide>
    <slide>
      <img
        class="d-block w-100"
        weight="1080px"
        height="240px"
        src="../../../assets/banner3.jpg"
        alt="Second slide"
      />
    </slide>
    <slide>
      <img
        class="d-block w-100"
        weight="1080px"
        height="240px"
        src="../../../assets/banner2.jpg"
        alt="Third slide"
      />
    </slide>
    <slide>
      <img
        class="d-block w-100"
        weight="1080px"
        height="240px"
        src="../../../assets/banner4.jpg"
        alt="First slide"
      />
    </slide>
  </carousel>
</div>

<div style="margin-bottom: 20px"></div>

<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
</div>

<div class="icon-bar">
  <a href="http://ace.ucv.ro/" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="http://ace.ucv.ro/" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="http://ace.ucv.ro/" class="google"><i class="fa fa-google"></i></a> 
  <a href="http://ace.ucv.ro/" class="linkedin"><i class="fa fa-linkedin"></i></a>
</div>

<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>

<div>
  <div class="announce-card-holder">
    <div class="container">
      <div class="promoted-announce">
        <i class="fa fa-refresh" style="color: #18bc9c; font-size: 25px"></i>
        Cele mai recente anunturi
        <div
          class="row text-center text-xs-center text-sm-center text-md-center"
        >
          <div
            *ngFor="let announce of announces"
            class="col-xs-12 col-sm-4 col-md-4"
          >
            <app-announce-card [announce]="announce"></app-announce-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
<div class="d-flex justify-content-center">
  <div class="your-location">
    <!-- <i class="fas fa-map-marker-alt"></i> -->
    <img
      src="../../assets/loc-map.png"
      width="60px"
      height="58px"
      style="margin-bottom: 10px"
    />
    Locatia ta in timp real
    <div id="mapid"></div>
  </div>
</div>
