<div class="lists-wrapper">
  <div class="text-center mt-3">
    <h2>
      {{ isUserAnnounces === true ? "Anunțurile mele" : "Anunțuri salvate" }}
      : {{ pagination.totalItems }}
    </h2>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="btn-group">
        <button
          class="btn btn-primary"
          (click)="loadSavedAnnounces()"
        >
          Anunțuri salvate
        </button>
        <button
          class="btn btn-primary"
          (click)="loadUserAnnounces()"
        >
          Anunțurile mele
        </button>
      </div>
    </div>

    <br />

    <div class="row text-center text-xs-center text-sm-center text-md-center" *ngIf="isUserAnnounces">
      <div
        *ngFor="let announce of announcesByUser"
        class="col-xs-12 col-sm-4 col-md-4"
      >
        <app-announce-card [announce]="announce"></app-announce-card>
      </div>
    </div>

    <div class="row text-center text-xs-center text-sm-center text-md-center" *ngIf="!isUserAnnounces">
      <div
        *ngFor="let announce of savedAnnounces"
        class="col-xs-12 col-sm-4 col-md-4"
      >
        <app-announce-card [announce]="announce"></app-announce-card>
      </div>
    </div>


  </div>

  <div class="d-flex justify-content-center" *ngIf="!isUserAnnounces">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>

  <div class="d-flex justify-content-center" *ngIf="isUserAnnounces">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="userAnnouncesPagination.totalItems"
      [itemsPerPage]="userAnnouncesPagination.itemsPerPage"
      [(ngModel)]="userAnnouncesPagination.currentPage"
      (pageChanged)="userPageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
