<div class="announce-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <ngx-gallery
          [options]="galleryOptions"
          [images]="galleryImages"
          class="ngx-gallery"
        ></ngx-gallery>
      </div>

      <div class="col-4">
        <div class="d-flex justify-content-center">
          <div class="announce-summary">
            <h3>{{ announce.car.brandName }}</h3>
            <h4>{{ announce.car.modelName }} {{ announce.car.version }}</h4>
            <ul style="color: #66676c;" class="list-unstyled list-inline">
              <li class="list-inline-item">{{ announce.car.km }} km</li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item">
                {{ announce.car.manufacturingDate }}
              </li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item">{{ announce.car.fuelType }}</li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item">{{ announce.car.bodyName }}</li>
            </ul>
            <div class="announce-price-wrapper">
              <div class="price-wrapper">
                <span class="announce-price-number">{{
                  announce.car.price
                }}</span>
                <span class="announce-price-currency">EUR</span>
              </div>
              <hr class="seller-divider" />
              <span class="announce-price-details">Pretul este negociabil</span>
              <hr class="seller-divider" />
            </div>
            <button
              mat-raised-button
              class="messageButton"
              [routerLink]="['/members/', announce.userId]"
              [queryParams]="{ tab: 1 }"
            >
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
              Trimite mesaj vanzătorului
            </button>
            <button
              mat-raised-button
              class="phoneButton"
              popover="+40762903876"
            >
              <i
                class="fa fa-phone fa-2x"
                style="color: black;"
                aria-hidden="true"
              ></i>
              Vezi numarul de telefon
            </button>

            <div class="seller-box-wrapper">
              <div class="seller-name">
                <a href="/home" title="Vizitează profilul">
                  {{ announce.userName }}</a
                >
                <hr class="seller-divider" />
              </div>
              <p class="seller-member-since">
                Vanzator pe site din
                {{ announce.userCreated | date: "mediumDate" }}
              </p>
              <hr class="seller-divider" />
              <div class="seller-box-address">
                <span class="seller-box-address-title">
                  Localizare vanzator
                </span>

                <i
                  class="fa fa-map-marker fa-2x"
                  style="color: #18bc9c;"
                  id="seller-box-address-info-icon"
                  aria-hidden="true"
                ></i>
                <br />
                <span class="seller-box-address-info">
                  {{ announce.location }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="text-center">
          <button
            style="text-align: center;"
            mat-button
            id="add-announce-button"
            class="btn btn-success my-2 my-sm-0"
            type="submit"
            (click)="
              announcePhotoModal(
                announce.announceId,
                announce.photosForAnnounce
              )
            "
          >
            Adauga imagini
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="col-8">
        <div class="announce-metabar">
          <span
            class="announce-metabar-value"
            title="Data adaugarii anuntului"
            >{{ announce.createdDate | date: "medium" }}</span
          >
        </div>
        <hr class="announce-photo-divider" />
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div
          class="cars-overview card-body pt-3 border mt-2"
          style="background-color: white;"
        >
          <div class="row">
            <div class="col-md-12">
              <h4>Detalii</h4>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i>
                  Marca : {{ announce.car.brandName }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i>
                  Model : {{ announce.car.modelName }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i>
                  Versiune : {{ announce.car.version }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i> Tara
                  de origine : {{ announce.car.countryName }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i>
                  Accident in istoric : {{ announce.car.damaged }}
                </li>
              </ul>
            </div>

            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i>
                  Kilometraj : {{ announce.car.km }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i> Anul
                  fabricatiei : {{ announce.car.manufacturingDate }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i>
                  Combustibil : {{ announce.car.fuelType }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i>
                  Transmisie : {{ announce.car.transmissionType }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i>
                  Stare : {{ announce.car.state }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1" style="color: #18bc9c;"></i>
                  Caroserie : {{ announce.car.bodyName }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <i class="fa fa-circle pr-1"></i> Cutie de viteze :
                  {{ announce.car.gearbox }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <accordion [isAnimated]="true">
          <accordion-group heading="Dotari">
            {{ announce.features }}
          </accordion-group>
          <accordion-group heading="Descriere">
            {{ announce.description }}
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
