<div class="container contact-form">
  <div class="contact-image">
      <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
  </div>
  <form method="post">
      <h3>Daca te putem ajuta cu ceva, completeaza formularul de mai jos</h3>
     <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <input type="text" name="txtName" class="form-control" placeholder="Nume *" value="" />
              </div>
              <div class="form-group">
                  <input type="text" name="txtEmail" class="form-control" placeholder="Email *" value="" />
              </div>
              <div class="form-group">
                  <input type="text" name="txtPhone" class="form-control" placeholder="Telefon *" value="" />
              </div>
              <div class="d-flex justify-content-center">
                  <button mat-raised-button class="btnContact">
                      Trimite 
                      <i class="fa fa-rocket fa-2x"></i>
                    </button>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <textarea name="txtMsg" class="form-control" placeholder="Spune-ne cu ce te putem ajuta.. *" style="width: 100%; height: 150px;"></textarea>
              </div>
          </div>
      </div>
  </form>
</div>