<nav class="my-nav navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="assets\small-car.png" width="50" height="50" >
      doarAutomobile.ro
    </a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Utilizatori </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/announce']">Announce</a>
      </li>
      <li *appHasRole="['Admin']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <span id="imageSizer" class="mr-1">
        <img src="{{ photoUrl || '../../assets/user.png' }}" alt="" />
      </span>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Bun venit, {{ authService.decodedToken.unique_name | titlecase }}
      </a>

      <div
        class="dropdown-menu mt-3"
        *dropdownMenu
        style="
          left: 0px;
          right: auto;
          top: 70%;
          transform: translateY(0px);
          bottom: auto;
          width: 100%;
        "
      >
        <a class="dropdown-item" [routerLink]="['/member/edit']"
          ><i class="fa fa-user"></i> Setari profil</a
        >
        <a class="dropdown-item" [routerLink]="['/messages']"
          ><i class="fa fa-comments"></i> Mesaje</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/']"
          ><i class="fa fa-table"></i> Anunturile mele</a
        >
        <a class="dropdown-item" [routerLink]="['/lists']"
          ><i class="fa fa-table"> </i> Notificari</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/contact']"
        ><i class="fa fa-address-card"></i> Contacteaza-ne</a
      >
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i> Deconectare</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        placeholder="Utilizator"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        placeholder="Parola"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Autentificare
      </button>
    </form>
  </div>
</nav>
