<app-nav></app-nav>
<router-outlet></router-outlet>

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"
      >
        <a [routerLink]="['/home']">
          <img src="assets\logo_licenta1.png" />
        </a>
        <p>
          doarAutomobile.ro iti ofera posibilitatea de a publica anunturi
          gratuite pentru orasul tau si imprejurimile sale. Vei gasi usor pe
          doarAutomobile.ro anunturi gratuite interesante din orasul tau dar si
          alte orase din tara si vei putea intra timp real chiar in legatura cu
          cei care le-au publicat . Pe doarAutomobile.ro te asteapta o gama foarte larga de
          masini publicate de utilizatori din toata tara si nu numai. Daca vrei
          sa vinzi un automobil vei putea adauga foarte usor anunturi gratuite
          datorita design-ului interactic si usor de utilizat.
        </p>
        <p>
          <i class="fa fa-info-circle fa-1x"></i>
          Eceasta platforma este o aplicatie web dezvoltata full-stack folosind
          urmatoarele tehnologii:
        </p>
        <p>
          <i class="fa fa-info-circle fa-1x"></i>
          VistualStudio2019 - C# - Microsoft SQL Server 17 - PostMan
        </p>
        <p>
          <i class="fa fa-info-circle fa-1x"></i>
          VistualStudioCode - HTML5 - CSS3 - BOOTSTRAP - ANGULAR9 - Typescript
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 text-center text-white">
        Urmărește-ne și pe:
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a href="http://ace.ucv.ro/"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://ace.ucv.ro/"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://ace.ucv.ro/"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://ace.ucv.ro/"><i class="fa fa-google-plus"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://ace.ucv.ro/" target="_blank"
              ><i class="fa fa-envelope"></i
            ></a>
          </li>
        </ul>
      </div>
      <hr />
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"
      >
        <p>
          <u><a href="/home">doarAutomobile.ro</a></u>
        </p>
        <a class="h6">
          © Toate drepturile reservate.<a
            class="text-green ml-2"
            href="https://www.facebook.com/edibalasa20"
            style="font-size: 14px;"
            >BĂLAȘA EDUARD MARIAN</a
          >
        </a>
      </div>
      <hr />
    </div>
  </div>
</section>
<!-- ./Footer -->

<div id="site-terms">
  <i class="fa fa-info-circle fa-1x"></i>
  Termenii și condițiile de pe site au fost actualizate. Detaliile complete sunt
  disponibile <a href="http://ace.ucv.ro/">aici</a>
</div>

<button mat-raised-button *ngIf="isShow" (click)="gotoTop()" id="goToTop">
  <i class="fa fa-arrow-circle-up fa-2x"></i>
</button>
